body {
   font-family:'Gelasio', 'Roboto', 'Ribeye', sans-serif;
   background: #fff;
   margin: 0;
 }
 
 

 .container {

   width: 1170px;
   margin: 0 auto;
   height: 900px;
 }
 
 .header {
   width: 100%;
   height: 0px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100000;
   background: #332222;
 }

 .header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 15px;
 }

 .intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
 
   padding-top: 100px;
  
 }

 button.btn__1:hover{
   transition: 0.2s;
  background: red;
}
 button.btn__1{
  position: absolute;
  width: 163px;
  height: 51px;
  left: 960px;
  top: 35px;
  background: #db2b1f;
  border-radius: 5px;
  color: #fff;
 }

 .intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  padding-top: 100px;
  background-image: url('/img/Rectangle\ 31.png');
  background-size: cover;

 }

 .text{

   padding-right: 10px;
 }

 .text h1{
   margin: 30px 143px;
  font-family: Gelasio;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 120%;
  color: #FFFFFF;
 }

 .text p{
   margin: 30px 142px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
 }
 button.btn__2:hover{
   transition: 0.2s;
   background: red;
 }
 button.btn__2{
  position: absolute;
  width: 163px;
  height: 51px;
  left: 145px;
  top: 572px;
  background: #db2b1f;
  border-radius: 5px;
  color: #fff;
 }

 section{
  width: 100%;
  height: 710px;
 }

 .content{
  width: 100%;
 }

 .content h2{
   text-align: center;
   margin-top: 140px;
   font-family: Gelasio;
   font-style: normal;
   font-weight: 500;
   font-size: 43px;
   line-height: 140%;
   color: #000000;
 }

 .pp{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
 }

.ram{
  width: 100%;
}

.ram1{
  position: absolute;
width: 300px;
height: 420px;
left: 150px;
top: 1020px;
background: #ffffff;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
border-radius: 10px;
}

.pic1{
  width: 298px;
  height: 251px;
}
 
.ram2{
  position: absolute;
  width: 300px;
  height: 420px;
  left: 479px;
  top: 1020px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.pic2{
  width: 298px;
  height: 251px;
}

.ram3{
  position: absolute;
  width: 300px;
  height: 420px;
  left: 809px;
  top: 1020px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}

.pic3{
  width: 298px;
  height: 251px;
}

.ram1 h3{
  text-align: center;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
}

.ram1 p{
  text-align: center;
  margin: 10px 26px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}

.ram2 h3{
  text-align: center;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
}

.ram2 p{
  text-align: center;
  margin: 10px 26px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}

.ram3 h3{
  text-align: center;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 500;
}

.ram3 p{
  text-align: center;
  margin: 10px 13px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
}


.block__2{
  width: 100%;
  height: 592px;
}

.totext h2{
  text-align: center;
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #000000;
}

.totext p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

// image-page

.img__page{
position: absolute;
left: -1px;
top: 1765px;
box-sizing: border-box;
border-radius: 10px;
opacity: 0.6;
}

.img-fon:hover{
  transition: 0.3s ease-in-out;
  transform: scaleX(1.02);
}
.img-fon{
  width: 220px;
  height: 157px;
}

.img__page h3, .img__page1 h3, .img__page3 h3{
  font-family: Gelasio;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #000000;
}
.image__page2 h3{
font-family: Gelasio;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #000000;
}


.star1, .star2, .star3, .star4, .star5{
  height: 15px;
  margin-left: 54px;
  
}

.number1, .number3{
  font-size: 20px;
}
.number2, .number4{
  font-family: Roboto;
  font-weight: 500;
}

.font, .font2, .font4, .font6, .font8{
  margin-top: 8px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 16px;
  opacity: 0.6;
}

.font1, .font3, .font5, .font7, .font9{
  margin-top: 8px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 18px;
  opacity: 0.6;
}

// block2

.img__page1{
  position: absolute;
  width: 260px;
  height: 330px;
  left: 249px;
  top: 1765px;
  box-sizing: border-box;
  border-radius: 10px;
  }
.img-fon1:hover{
  transition: 0.3s ease-in-out;
  transform: scaleX(1.02);
}
  .img-fon1{
    width: 222px;
    height: 157px;
  }

  // block3

  .img__page2{
    position: absolute;
    width: 260px;
    height: 330px;
    left: 500px;
    top: 1765px;
    box-sizing: border-box;
    border-radius: 10px;
    }

    .number5{
      line-height: 196%;
     font-size: 20px;
  }
     .font4{
     margin-top: 1px;
     } 
  
     .img-fon2:hover{
      transition: 0.3s ease-in-out;
      transform: scaleX(1.02);
     }
    .img-fon2{
      width: 222px;
      height: 157px;
    }


    .img__page3{
      position: absolute;
      width: 260px;
      height: 330px;
      left: 751px;
      top: 1765px;
      box-sizing: border-box;
      border-radius: 10px;
      }

      .number7{
        font-size: 20px;
        line-height: 132%;
      }
  
.img-fon4:hover{
  transition: 0.3s ease-in-out;
  transform: scaleX(1.02);
}
      .img-fon4{
        width: 222px;
        height: 157px;
      }


      .img__page4{
        position: absolute;
        width: 260px;
        height: 330px;
        left: 1003px;
        top: 1765px;
        box-sizing: border-box;
        border-radius: 10px;
      }

      .img-fon5:hover{
        transition: 0.3s ease-in-out;
        transform: scaleX(1.02);
      }
      .img-fon5{
        width: 222px;
        height: 157px;
      }

      .img__page4 h3{
        line-height: -2px;
      }

      .number9{
        font-size: 20px;
        line-height: 187%;
      }

      .font8{
        line-height: 53%;
      }
      .font9{
        line-height: 190%;
      }

.slider{
position: absolute;
left: 459px;
top: 2122px;
}

  .vector1, .vector2{
   margin-bottom: -3px;

  }

  .rectangle{
    margin: 0px 50px;
  }


  // section3

  .content__2{
    width: 100%;
    height: 810px;
  }

  .totext__2{
    text-align: center;
  }

  .totext__2 h2{
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
  }

  .totext__2 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
  }

  .img__blog img{
    position: absolute;
    width: 480px;
    height: 340px;
    left: 150px;
    top: 2475px;
    border-radius: 10px;
  }
  .img__blog a:hover{
   transition: .1s;
    color: rgb(167, 142, 61);
  }

  .img__blog a{
    position: absolute;
    left: 150px;
    top: 2849px;
font-family: Gelasio;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #000000;
cursor: pointer;

  }
.p1{
position: absolute;
max-width: 470px;
left: 150px;
top: 2866px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 160%;
color: #000000;
opacity: 0.6;
}

li.a1:hover{
  transition: 0.5s;
  color:  rgb(0, 47, 255);
  transform: translate(6px, 3px);
}

li.a1{
 position: absolute;
font-family: Roboto;
list-style: none;
left: 0px;
top: 145px;
font-size: 18px;
line-height: 150%;
color: #000000;
cursor: pointer;
}

.img__blog1 img:hover{
  transition: 0.8s;
  transform: translateY(-2px);
}
.img__blog1 img{
position: absolute;
width: 230px;
height: 162px;
left: 650px;
top: 2475px;
border-radius: 10px;
}

.img__blog1 a:hover{
  transition: .1s;
  color: rgb(167, 142, 61);
}

.img__blog1 a{
 position: absolute;
left: 907px;
top: 2500px;
font-family: Gelasio;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #000000;
cursor: pointer;
}

.p2{
  position: absolute;
  max-width: 470px;
  left: 907px;
  top: 2510px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 17px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
}

li.a2:hover{
  color: #0066ff;
  transition: 0.3s;
  transform: translate(6px, 3px);
  }
li.a2{
position: absolute;
font-family: Roboto;
top: 79px;
font-size: 18px;
line-height: 150%;
color: #000000;
cursor: pointer;
}

.img__blog2 img{
  position: absolute;
  width: 230px;
  height: 162px;
  left: 650px;
  top: 2663px;
  border-radius: 10px;
  }

  .img__blog2 a:hover{
    transition: .1s;
    color: rgb(167, 142, 61);
  }
  .img__blog2 a{
    position: absolute;
   left: 907px;
   top: 2690px;
   font-family: Gelasio;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 160%;
   color: #000000;
   cursor: pointer;
   }

   .p3{
    position: absolute;
    max-width: 470px;
    left: 907px;
    top: 2704px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #000000;
    opacity: 0.6;
  }

  li.a3:hover{
    color: #0066ff;
    transition: 0.3s;
    transform: translate(6px, 3px);
  }
  li.a3{
    position: absolute;
    font-family: Roboto;
    top: 85px;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
    }

    .img__blog3 img{
      position: absolute;
      width: 230px;
      height: 162px;
      left: 650px;
      top: 2851px;
      border-radius: 10px;
      }

      .img__blog3 a:hover{
        transition: .1s;
        color: rgb(167, 142, 61);
      }
      .img__blog3 a{
        position: absolute;
       left: 907px;
       top: 2871px;
       font-family: Gelasio;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 160%;
       color: #000000;
       cursor: pointer;
       }

       .p4{
        position: absolute;
        max-width: 470px;
        left: 907px;
        top: 2886px;
        font-family: Roboto;
        font-weight: normal;
        font-size: 17px;
        line-height: 160%;
        color: #000000;
        opacity: 0.6;
      }

      li.a4:hover{
        color: #0066ff;
        transition: 0.3s;
        transform: translate(6px, 3px);
        animation-duration: reverse;
      }
      li.a4{
        position: absolute;
        font-family: Roboto;
        top: 88px;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        cursor: pointer;
        }

